<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMlSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemalocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
 
  <servlet>  
    <description></description>    
    <servlet-name>LogoutHandler</servlet-name>  
    <servlet-class>ajpProject.LogoutHandler</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>LogoutHandler</servlet-name>  
    <url-pattern>/logout</url-pattern>  
  </servlet-mapping>  
   <servlet>  
    <description></description>    
    <servlet-name>Result</servlet-name>  
    <servlet-class>ajpProject.Result</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>Result</servlet-name>  
    <url-pattern>/result</url-pattern>  
  </servlet-mapping>
</web-app>  